
:root.light {
    --background-color: #888;
    --text-color: black;
}

:root.dark {
    --background-color: #333;
}

body {
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(133, 167, 155);
    border: 5px solid black;
    border-radius: 5px;
    margin: 10px;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.header-container {
    display: flex;
    text-align: center;

}

.header-container h1 {
    flex-grow: 1;
    margin: 10px 10px;
}

.theme-button,
.back-button {
    margin-left: auto;
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
    padding: 10px 10px;
}

#blog-posts-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.blog-post {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.blog-post h2 {
    margin-top: 0;
}

.blog-post h4 {
    margin-bottom: 5px;
    font-style: italic;
}

.blog-post p {
    margin-top: 5px;
}

