
:root.light {
    --background-color: #888;
    --text-color: black;
}

:root.dark {
    --background-color: #333;
}

body {
    background-color: var(--background-color);
}

header {
    display: flex;
    padding: 20px;
    background-color: rgb(133, 167, 155);
    border: 5px solid black;
    border-radius: 5px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;

}

.theme-button {
    margin-left: auto;
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
    padding: 10px 10px;
}

.container {
    display: flex;
    width: 100%;
    border: 5px solid black;
    padding: 5px 5px;
}

.image-container {
    flex: 1;
    width: 50%;
    height: auto;
    max-width: 50%;
    border: 5px solid black;
    margin: 20px 20px;
    padding: 20px 20px;
    overflow: hidden;
}

body img {
    max-width: 100%;
    max-height: 100%;
}

.form-container {
    flex: 1;
    width: 50%;
    border: 5px solid black;
    margin: 20px 20px;
    padding: 20px 20px;
}

form {
    border: 1px solid black;
    padding: 20px 20px;
    border-radius: 8px;
    background-color: rgb(149, 149, 149);
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: lightslategrey;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    display: flex;
    padding: 20px;
    background-color: rgb(133, 167, 155);
    border: 5px solid black;
    border-radius: 5px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}